* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  background-color: #e8f4f8;
}
header {
  background: #198ed7;
  color: #78e236;
  padding: 20px 0;
  text-align: absolute;
}
nav {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  position: relative;
  justify-content: flex-end;
  align-items: self-start;
  padding: 10px 20px;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
.logo-container {
  display: flex;
  align-items: end;
}
.logo-container img {
  height: 80px;
  width: 100px;
  border-radius: 20px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 1.5rem;
  margin-top: 2rem;
}

.category {
  background: transparent;
  border: none;
  cursor: pointer;
  text-align: center;
  color: #fff;
}

.category img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 1rem;
  border: 2px solid #c81414;
  transition: transform 0.3s ease-in-out;
}

.category:hover img {
  transform: scale(2.1);
}

.category p {
  margin-top: 0.5rem;
  font-weight: bold;
  color: #fff;
}